@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 56px;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-xl);
    letter-spacing: 1.75px;
    padding: 1px;
    margin-bottom: 12px;
}

.filterBySkill{
    text-align: center;
}

.projects {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    justify-content: center;
    gap: 35px;
    width: 100%;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 12px;
    flex-wrap: wrap;
}

.filterButton{
    border: none;
    font-size: var(--font-xs);
padding: 6px 18px;
border-radius: 10px;
cursor: pointer;
}

.filterButton:hover{
    background-color: var(--color-emphasis);
}

.selected {
    /* background-color: cyan; */
    background-color: var(--color-emphasis);
}