@import "../../vars.css";

.container {
    display: inline-flex;
    align-items: stretch;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(90deg, #3c4b83 0%, #344070 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 0 12px 12px;
    max-width: 300px;
    flex-grow: 1;
    padding-bottom: 24px;
    }


.image {
    height: 200px;
    object-fit: cover;
}

.heading {
    display: flex;  
    gap: 6px;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 26px;
}

.title {
    text-align: center;
    font-size: var(--font-s);
    font-weight: 400;
}

.description {
    margin-top: 18px;
    font-size: var(--font-s);
    font-weight: 400;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;

}

.skill {
    font-size: var(--font-s);
    font-weight: 400;
    border-radius: 10px;
    background-color: var(--color-primary);
    padding: 5px 10px;
}

.links {
    margin-top: 12px;
    margin-left: 6px;
    display: flex;
    gap: 6px;
    justify-content: space-around;
    
}

.link {
    min-width: 60px;
    text-decoration: none;
    color: var(--color-text);
    font-size: var(--font-xs);
    border-radius: 10px;
    background-color: var(--color-dark);
    padding: 6px;
    /* width: 10%; */
    text-align: center;
}

.link:hover {
filter: brightness(1.3);
}