@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 56px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: var(--font-roboto);

}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-xl);
    letter-spacing: 1.75px;
    padding: 1px;
}

.projects {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    justify-content: center;
    gap: 35px;
    width: 100%;
}

/* .inner-wrapper{
    display: flex;
    flex-direction: row;
    width: 33.33%;
} */