@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto 0;
  width: var(--width);
  display: flex;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
}

.title {
  font-weight: 900;
  margin-top: 5rem;
  margin-bottom: 20px;
    font-size: var(--font-xxl);
}

.description {
  font-size: var(--font-m);
  line-height: 2.5rem;
 
}

.description:first-of-type {
  margin-bottom: 18px;
}

.emphasis, .emphasisLink {
position: relative;
  /* text-decoration: underline wavy #d891ef;
  /* text-decoration: underline wavy #EB6534; */
  /* text-decoration: underline wavy #BA2C73; */
  /* text-decoration-thickness: 3px; */
  /* text-underline-offset: 3px; */
  /* text-underline-position: under; */
}

.emphasis:after, .emphasisLink:after{
  content: "";
  position: absolute;
  width: 100%;
border-top: 3px solid #d891ef;
left: 0;
bottom: -10px;
border-radius: 50%;
height: 8px;
}

.emphasisLink {
  color: inherit;
  text-decoration: none;
}

.emphasisLink:visited {
  color: #edd1f7;
}

.emphasisLink:hover {
  color: #d891ef;
}

.topBlur::before{
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: 100px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  
  filter: blur(100px);
  z-index: -1;
  content: "";
  position: absolute;
  width: 80%; 
  height: 80%;
}

/* background: rgba(197, 29, 141, 0.7); */

.bottomBlur::before {
  position: absolute;
  width: 10vw;
  height: 50vw;
    top: 100px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: -1;

  content: "";
  position: absolute;
  width: 40%; 
  height: 100%;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }

  .description {
text-align: center;
  }
}
