@import "../../vars.css";

.container {
  position: relative;
  border-radius: 16px;
  margin: 120px 5%;
  z-index: 1;
  width: var(--width);
}

.title {
  color: var(--color-text);
  font-size: var(--font-xl);
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}



.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0;
}

.aboutItem {
  display: flex;
  gap: 40px;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, #11264c 100%);
  background-repeat: no-repeat;
  transition: 0.4s;
  width: var(--width);
  margin: 0;
  width: 100%;
  padding: 24px 2rem;
}

.aboutItem h3 {
  font-size: var(--font-xl);
  font-weight: 600;
  margin-bottom: 1rem;
}

.aboutItem h3 {
  font-size: var(--font-m);
}

.aboutItemPara:first-of-type {
  margin-top: 0;
}
.aboutItemPara {
  margin-top: 24px;
  font-size: var(--font-s);
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    /* padding-left: 0;
    padding-right: 0; */
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 30px;
  }
  .aboutItem {
    /* padding-left: 0; */
    /* padding-right: 0; */
  }
}
