@import "../../vars.css";

.container {
  position: relative;
  /* background-color: rgba(12, 12, 12, 0.6); */
  border-radius: 16px;
  padding: 72px;
  margin-top: 130px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  }

.title {
  color: var(--color-text);
  font-size: var(--font-xl);
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.content {
  display: flex;
  align-items: center;
  
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, #11264c 100%);
    background-repeat: no-repeat;
    transition: 0.4s;
    width: 95%;
    margin: 0 auto;
}

.aboutItem h3 {
    font-size: var(--font-xl);
    font-weight: 600;
    margin-bottom: 1rem;
}

.aboutItem h3 {
    font-size: var(--font-m);
}

.aboutItemPara:first-of-type {
    margin-top: 0;
}
.aboutItemPara {
    margin-top: 24px;
    font-size: var(--font-s);
    padding-right: 3rem;
}

@media screen and (max-width:830px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .content {
        flex-direction: column;
    }

    .aboutImage{
        display: none;
    }

    .aboutItems {
        margin-top: 30px;
    }
    .aboutItem {
        padding-left: 0;
        padding-right: 0;
    }
}