@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 60px;
  background-color: var(--color-secondary);
  padding: 50px 5% 20px;
}

.innerContainer {
max-width: 1080px;
margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
  width: var(--width);
  margin: 0 auto;
  padding: 0;
  gap: 30px;
}

.title {
  font-size: var(--font-xl);
  font-weight: 700;
  letter-spacing: 4px;
  width: var(--width);
  margin: 0 auto 24px;
}

.text {
  margin-top: 6px;
  flex: 1 0 50%;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.text p {
  font-size: var(--font-xs);
  font-weight: 400;
}

.links {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 6px;
}
.link {
  display: flex;
  align-items: space-between;
  gap: 24px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: var(--font-xs);
  font-weight: 400;
}

.link a:focus{
 /* border: 1px solid transparent; */
 outline: 2px solid white;  
}
.link a img:hover{
    filter: brightness(.9);
    box-shadow: 0 0 7px 0 #fff;
}

.textLink {
    line-height: 1.5;
}

.textLink:hover{
  filter: brightness(.9);
  text-decoration: underline; 
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    gap: 24px;
  }
}
