@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 60px;
  background-color: var(--color-secondary);
  padding: 50px 10% 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  gap: 20px;
}

.title {
  font-size: var(--font-xl);
  font-weight: 700;
  letter-spacing: 4px;
  width: 80%;
  margin: 0 auto 24px;
}

.text {
  margin-top: 6px;
  flex: 1 1 35%;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.text p {
  font-size: var(--font-xs);
  font-weight: 400;
  /* letter-spacing: 1.2px;  */
}

.links {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 6px;
}
.link {
  display: flex;
  align-items: center;
  gap: 12px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: var(--font-xs);
  font-weight: 400;
}

.link a:focus{
 /* border: 1px solid transparent; */
 outline: 2px solid white;  
}
.link a:hover{
    filter: brightness(.9);
    box-shadow: 0 0 7px 0 #fff;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    gap: 24px;
  }
}
