@import "../../vars.css";


.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  z-index: 2;
  margin: 0 5%;
  width: var(--width);
}

.contactBtn {
  /* position: fixed; */
  background-color: var(--color-emphasis);
  border: 2px solid var(--color-emphasis);
  border-radius: 50px;
  box-shadow: 0 0 17px 0 var(--color-emphasis);
  color: var(--color-bg);
  font-size: var(--font-l);
  font-weight: 600;
  padding: .5rem 1rem;
  text-decoration: none;
  text-align: center;
  min-width: 200px;
}

.contactBtn:focus{
  border: 2px solid var(--color-bg);
  box-shadow: none;
  outline: 2px solid var(--color-emphasis);
}

.contactBtn:hover{
  filter: brightness(1.2);
}

.topnav__close {
  display: none;
}

.menu {
  display: flex;
}

/* ul element for navigation menu */
.menuItems {
  display: flex;
  gap: 6px;
  list-style: none;
}

.menuItems a {
  font-size: var(--font-m);
  color: var(--color-text);
  text-decoration: none;
  padding: 8px;
}

.menuItems a:hover {
  background: var(--color-secondary);
}

/* ************************************************************************************ */
/* **************************** Screens under 830px **************************** */
/* ************************************************************************************ */

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 12px;  
  }

.contactBtn {
  padding: .2rem .5rem;
  opacity: 0.8;
}
  .menu {
    inset: 0;
    position: fixed;
    background: var(--color-secondary);
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
    width: 100%;
  }

  /* Button element for menu toggle */
  .topnav__close {
    background: none;
    opacity: 0.8;
    border: none;
    height: 3rem;
    margin: 1.5rem 1rem;
    width: 3rem;
    padding: 0;
    display: block;
    cursor: pointer;
    z-index: 100;
  }

  .topnav__close:hover{
    opacity: 1.5; 
  }
/* Img element on menu toggle button  */
  .menuBtn {
    padding: 0;
    display: block;
    cursor: pointer;
    z-index: 100;
  }

  /* menuItems is ul element for navigation menu */
  .menuItems li {
    width: 100%;
  }
  .menuItems a {
    display: inline-block;
    width: 100%;
    padding: 16px;
    border-radius: 10px;
  }

  .menuItems a:focus {
    outline: 2px solid #fff;
    border: none;
  }

  .menuOpen {
    align-items: center;
    background: var(--color-bg);
    border-radius: 10px;
    flex-direction: column;
    gap: 0;
    text-align: center;
   position: fixed;
   padding-top: 6rem;
    width: 100%;    
    min-height: 100vh;
    height: 100vh;
  }

/* Hamburger menu closed */
  .menuItems:not(.menuOpen) {
    display: none;
  }

  .menu:not(.menuOpen) {
    height: 0;
  }
}
