:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-tertiary: rgb(20,55,109);
    --color-dark: hsl(215, 73%, 16%);
    --color-bg: #04152d;
    --color-emphasis: #d891ef;

    /* Fonts */
    /* --font-roboto: "Roboto";  */

    /* Font sizes */
    --font-xxl: 4rem;
    --font-xl: 2.5rem; 
    --font-l: 1.8rem;
    --font-m: 1.5rem;
    --font-s: 1.2rem;
}